.main__filters {
    background-color: #4B7045;
    border-radius: 5px;
    width: 300px;
    height:fit-content;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px 20px;
    position: sticky;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filters__title {
    font-size: 24px;
    font-weight: bold;
    color:#EAEFF5;
}
