.user_wrapper {
    border: 1px solid black;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user_main_info {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2E4936
}

.user_username {
    color: #EAEFF5;
    font-size: 20px;
}

.user_statistic_info {
    width: 250px;
    height: 150px;
    background-color: #8DA990;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    justify-content: space-around;
}

.user_avatar {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
}

.user_statistic_element {
    display: flex;
    align-items: center;
}

.user_statistic_title {
    font-size: 18px;
}

.user_statistic_value {
    margin-left: 10px;
    font-size: 18px;
}