.header__nav span {
    color: #EAEFF5;
    margin-right: 65px;
    font-size: 22px;
    letter-spacing: 4px;
    text-decoration: none;
}

.header__nav span:hover {
    color: #b2b2b2;
    text-shadow: 1px 1px 25px #000000;
}