.main__users_grid {
    margin-top: 20px;
    margin-left: 50px;
    display: grid;
    width: 1260px;
    height: fit-content;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 150px;
    grid-column-gap: 30px; 
    grid-row-gap: 20px;
}