.recipy_wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: #8DA990;
    display: flex;
    justify-content: center;
    padding: 10 200px;
}

.recipy_inner_wrapper {
    width: 70%;
    margin-bottom: 30px;
}

.recipy_image {
    width: 100%;
    object-fit: cover;
}

.recipy_title {
    font-size: 28px;
    text-decoration: underline;
}

.recipy_meta_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #EAEFF5;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
}

.recipy_meta_user, .recipy_meta_updated {
    display: flex;
    align-items: center;
}

.recipy_author_title, .recipy_updated_title {
    font-size: 20px;
}

.recipy_author_ref, .recipy_updated_value {
    font-size: 20px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.recipy_description_text {
    font-size: 20px;
    background-color: rgb(153, 192, 149);
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 10px;
}

.recipy_description_title, .recipy_steps_title, .recipy_ingredients_title {
    font-size: 24px;
}

.recipy_ingredients_list, .recipy_steps_list {
    padding: 0px 0px;
    list-style: none;
    row-gap: 10px;
}

.recipy_ingredients_list_element, .recipy_steps_list_element {
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #6F965F;
    border: 1px solid black;
    display: flex;
    align-items: center;
}


.recipy_ingredient_title, .recipy_step_title {
    margin-left: 20px;
}

.recipy_ingredient_amount, .recipy_step_text {
    margin-left: 10px;
}

.recipy_steps_list_element {
    height: fit-content;
    font-size: 18px;
}

.recipy_ingredient_amount {
    margin-left: 10px;
}