.header {
    background-color: #2E4936;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    position: sticky;
    top: 0px;
    left: 0px;
}